spring:
  kafka:
    bootstrap-servers: ${KAFKA_URL}
    producer:
      retries: 3
      batch-size: 16384
      buffer-memory: 33554432
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

    consumer:
      group-id: room-operation-consumer-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    listener:
      ack-mode: record


  datasource:
    url: jdbc:mariadb://${DATABASE_HOST}:${DATABASE_PORT}/profiles?serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=utf8mb4
    username: ${DATABASE_USER_NAME}
    password: ${DATABASE_PASSWORD}


  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none


    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
        jdbc:
          time_zone: Asia/Seoul
          batch_size: 50
        order_inserts: true
        order_updates: true
        batch_versioned_data: true

  data:
    redis:
      repositories:
        enabled: false
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  sql:
    init:
      mode: never







